/*suppression des marges par défaut*/
html,body{
    height: 100%;      
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    margin: 0 auto;
    background-color:rgba(220,220,220,0.5);
}
/*---------------------------------*/

/*Mise en forme du corps du site*/
.centre_site, .contact{
    padding: 10px 20px;
    margin: 30px 150px;
    background-color: rgb(220,220,220);
}

.centre_site,.contact{
    box-shadow:0px 0px 10px black;
}

.centre_site img{
    box-shadow:0px 0px 10px black;
}

.menu,.presentation-texte,.presentation-entrainement, .mouvement, .recherche{
    background-color: rgba(76, 174, 178, 0.4);
}

/*------------------------------*/

/*Mise en forme Menu deroulant*/
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ol {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF; 
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

.sous-menu{
    padding-right: 2px;
    padding-left: 2px;
}
/*-----------------------*/

/*Mise en forme avant menu*/
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu h1{
    margin: 10px 0 10px 5%;
    height: auto;
}

.top-menu ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex; 
    margin-right: 2%; 
}
/*------------------------*/

/*Mise en forme du menu*/
.menu{
    border-bottom: 3px solid #2F4F4F;
    border-top: 3px solid #2F4F4F;
    display: flex;
    justify-content: space-between;
}

.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu li{
    padding: 20px 30px;
    text-transform: uppercase;
    list-style-type: none;
}

.menu li:hover{
    background-color: #4CAEB2;
    color: #FFF;
}
/*---------------------*/

/*Mise en forme du carrousel d'image*/
.carrousel-img img{
    width: 100%;
    max-width: 100%;
    height: 800px;
}
/*---------------------------------*/

/*Mise en forme des titres*/
h2{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    background-color:#C0C0C0;
    border: 1px solid #808080;
    border-radius: 5px;
}
/*--------------------------------*/

/*Mise en forme de la presentation*/
.container-presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.presentation-photo img{
    width: 500px;
    height:350px;
}

.presentation-texte{
    padding-left: 15px;
    margin-right: 2%;
}

.presentation-texte li{
    list-style-type: square;
}
/*------------------------------*/

/*Mise en forme des exercices*/
#breve{
    text-align: center;
    font-style: italic;
}

.powerlifting h3{
    width: 95%;
    padding:10px 10px;
    margin: 3% auto;
    text-align: center;
    background-color: #4CAEB2;
    border-bottom: 2px solid #2F4F4F;
    border-left: 2px solid #2F4F4F;
    border-right: 2px solid #2F4F4F;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mouvement{
    padding-bottom: 50px;
}

.container-mouvement{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-mouvement{
    width: 500px;
    margin-left: 6%;
}
.marge-mouvement{
    width: 60px;
}
.texte-mouvement{
    width: 35%;
    padding: 15px 15px;
    margin-right: 1%;
    text-align: justify;
    background-color: #A9A9A9;
}
/*-------------------------*/

/*Mise en forme du formulaire de contact*/

.container-contact{
    margin-bottom: 2%;
}

.mail{
    text-align: center;
}

.contact form{
    background-color:#C0C0C0;
    padding: 10px;
    width:50%;
    margin: 0 auto;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:2px solid #2F4F4F;

}

legend {
    color:#2F4F4F;
    font-weight:bold
}

.contact label{
    display: block;
    margin-top: 10px;
}

.contact input, .contact textarea {
    padding:3px;
    background-color:#FFF3F3;
    border:1px solid #2F4F4F;
    border-radius:5px;
    width:50%;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.contact input[type=submit]{
    box-shadow:1px 1px 1px #2F4F4F;
}

.contact p{
    text-align: center;
    margin-bottom: 2%
}
/*--------------------------------------*/
