html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    margin: 0 auto;
    background-color: #DCDCDC;
}

.centre_site{
    padding: 10px 20px;
    margin: 30px 150px;
}

.menu,.presentation-texte,.presentation-entrainement, .mouvement{
    background-color: rgba(76, 174, 178, 0.4);
}

.menu{
    border-bottom: 4px solid #2F4F4F;
    display: flex;
    justify-content: space-between;
}

h1{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0px;

}

.menu ul{
    margin: 0;
    display: flex;
}
.menu li{
    padding: 20px 30px;
    text-transform: uppercase;
    list-style-type: none;
}

.menu li:hover{
    background-color: #4CAEB2;
    color: #FFF;
}

.carrousel-img img{
    width: 100%;
    max-width: 100%;
    height: 800px;
}

h2{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    background-color:#C0C0C0;
    border: 1px solid #808080;
    border-radius: 5px;
}

.container-presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.presentation-photo img{
    width: 500px;
    height:350px;
}

.presentation-texte{
    padding-left: 15px;
    margin-right: 2%;
}

.presentation-texte li{
    list-style-type: square;
}

.centre_site{
    box-shadow:0px 0px 10px black;
}

.centre_site img{
    box-shadow:0px 0px 10px black;

}

#breve{
    text-align: center;
    font-style: italic;
}

h3{
    padding:10px 10px;
    text-align: center;
}

.mouvement{
    padding-bottom: 50px;
}

.container-mouvement{
    display: flex;
    align-items: center;
}

.image-mouvement{
    width: 500px;
    margin-left: 6%;
}
.marge-mouvement{
    width: 60px;
}
.texte-mouvement{
    width: 400px;
    text-align: justify;
}
